
<section class="top-section mb-5 mt-5 mt">
  <div class="row header col-sm-12">
    <div class="col-md-3 col-sm-3 ">
      <div class="card bg-primary text-white">
        <div class="card-body">
          <h5>Total Orders</h5>
          <h2>75</h2>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 ">
      <div class="card bg-success text-white">
        <div class="card-body">
          <h5>Workers in work</h5>
          <h2>35</h2>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3">
      <div class="card bg-danger text-white">
        <div class="card-body">
          <h5>weakly Profets</h5>
          <h2>650$</h2>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 ">
      <div class="card bg-info text-white">
        <div class="card-body">
          <h5>Total Revenue</h5>
          <h2>$128</h2>
        </div>
      </div>
    </div>
  </div>
</section>


  <div class="row"> 

    <section class="profit-section border">
      <div class="row" > 
        <div class="col-sm-6   ">
          <div class="title"> 
            <h3>Profits</h3>
          </div>
          <canvas id="myChart"></canvas>
        </div>   
        <div class="col-sm-6  ">
          <div class="title"> 
            <h3>pridectd Profits</h3>
          </div>
          <canvas id="myChart1"></canvas>
        </div> 
      </div>
    </div>
    </section>



<section class="product-table my-4">
  <div class="row">
    <div class="border items-table col-sm-6">
      <div class="title">
        <h3>top product</h3>
      </div>
      <div class="table-item ">
        <p>id</p>
        <p>image</p>
        <p>quantity </p>
        <p>catigory</p>
        <p>remainig</p>
    </div>
      <div class="table-item ">
        <span>#12
          <img class="table-image" src="/image/logo.png" alt="product-image"></span>
          <p>50</p>
          <p> food</p>
          <p> 10</p>
      </div>
      <div class="table-item ">
          <span>#12
          <img class="table-image" src="/image/logo.png" alt="product-image"></span>
          <p>50</p>
          <p> candies</p>
          <p> 10</p>
      </div>
      <div class="table-item ">
        <span>#12
          <img class="table-image" src="/image/logo.png" alt="product-image"></span>
        <p>50</p>
        <p> candies</p>
        <p> 10</p>
    </div>
    <div class="table-item ">
      <span>#12
        <img class="table-image" src="/image/logo.png" alt="product-image"></span>
      <p>50</p>
      <p> candies</p>
      <p>10</p>
  </div>
    </div> 
    <div class="col-sm-6">
      <div class="title"> 
        <h2>Supermarket performance</h2>
      </div>
      <canvas id="donatchart"></canvas>
    </div> 
</div>
</section>

