
<section class="manage-products mt-5">
    <div class="d-flex justify-content-between"> 
    <h2>Manage Products </h2>
    <a href="/admin/products"><button class="btn btn-primary ">Go Back</button></a>
</div>
    <section class="feature"  <%= (form === "add") ? "" : "hidden" %>>
        <h2>Add New Product</h2>
        <form class="product-form" id="addProductForm" >
            <label for="productName">Product Name:</label>
            <input type="text" id="productName" required>

            <label for="productPhoto">Product Photo URL:</label>
            <input type="text" id="productPhoto" required>

            <label for="productPrice">Product Price:</label>
            <input type="number" id="productPrice" required>

            <button type="submit">Add Product</button>
        </form>
    </section>

    
    <div class="feature" <%= (form === "edit") ? "" : "hidden" %>>
        <h3>Edit Products</h3>
        <form class="product-form" id=" " >
            <label for="editProductName">Product Name:</label>
            <input type="text" id="editProductName" required>
            <label for="editProductPrice">New Price:</label>
            <input type="number" id="editProductPrice" required>
            <button type="submit">Update Product</button>
        </form>
    </div>

    <div class="feature" <%= (form === "delete") ? "" : "hidden" %>>
        <h3>Delete Products</h3>
        <form class="product-form" id="deleteProductForm" >
            <label for="deleteProductName">Product Name:</label>
            <input type="text" id="deleteProductName" required>
            <button type="submit">Delete Product</button>
        </form>
    </div>
    <div class="feature" <%= (form === "category") ? "" : "hidden" %>>
        <h3>Add Categories</h3>
        <form class="product-form" id="addCategoryForm">
            <label for="categoryName">Category Name:</label>
            <input type="text" id="categoryName" required>
            <button type="submit">Add Category</button>
        </form>
    </div>
</section>