<section class="top-section mb-5 mt-5 mt">
    <div class="row header">
      <div class="col-md-3">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h5>Total Orders</h5>
            <h2>75</h2>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-success text-white">
          <div class="card-body">
            <h5>Orders delivered</h5>
            <h2>35</h2>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-danger text-white">
          <div class="card-body">
            <h5>Orders Canceled</h5>
            <h2>6</h2>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-info text-white">
          <div class="card-body">
            <h5>Orders Income</h5>
            <h2>65$</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="Orders-title mt-3" >
        <h2>Orders</h2>
    </div>
    <div class="reviews-list mt-3">
        <div class="review-item d-flex justify-content-evenly">
            <span>#1
            <img src="/image/logo.png" alt="icon " style="width: 40px; height: 40px; border-radius: 7px;"></span>
            <p>12$</p>
            <p>10-3-2024</p>
            <p style="padding: 3px; background-color: greenyellow; border-radius: 5px;">delivered</p>
        </div>
        <div class="review-item d-flex justify-content-evenly">
            <span>#1
            <img src="/image/logo.png" alt="icon " style="width: 40px; height: 40px; border-radius: 7px;"></span>
            <p>12$</p>
            <p>10-3-2024</p>
            <p style="padding: 3px; background-color: greenyellow; border-radius: 5px;">delivered</p>
        </div>
        <div class="review-item d-flex justify-content-evenly">
            <span>#1
            <img src="/image/logo.png" alt="icon " style="width: 40px; height: 40px; border-radius: 7px;"></span>
            <p>12$</p>
            <p>10-3-2024</p>
            <p style="padding: 3px; background-color: rgb(253, 249, 21); border-radius: 5px;">pending</p>
        </div>
        <div class="review-item d-flex justify-content-evenly">
            <span>#1
            <img src="/image/logo.png" alt="icon " style="width: 40px; height: 40px; border-radius: 7px;"></span>
            <p>12$</p>
            <p>10-3-2024</p>
            <p style="padding: 3px; background-color: rgb(216, 13, 13); border-radius: 5px;">Canceled</p>
        </div>
        <div class="review-item d-flex justify-content-evenly">
            <span>#1
            <img src="/image/logo.png" alt="icon " style="width: 40px; height: 40px; border-radius: 7px;"></span>
            <p>12$</p>
            <p>10-3-2024</p>
            <p style="padding: 3px; background-color: rgb(253, 249, 21); border-radius: 5px;">delivered</p>
        </div>
    </div>