<div class="mt-5">
    <div class="product-buttons d-flex justify-content-evenly align-items-center">
       <a href="/admin/products/forms?form=add"><button class="btn btn-primary" id="addProduct"  >Add product</button></a>
       <a href="/admin/products/forms?form=edit"> <button class="btn btn-primary" id="editproduct" >edit product</button></a>
     <a href="/admin/products/forms?form=delete"> <button class="btn btn-primary" id="deleteproduct" >delete product</button></a>
      <a href="/admin/products/forms?form=category"> <button class="btn btn-primary" id="addcatigory">add Category    </button></a>
    </div>
</div>


<script src="/js/product.js" ></script>