<!-- <div class="mt-5">
    <div class="product-buttons d-flex justify-content-evenly align-items-center">
       
       
     
      
    </div>
</div> -->

<div class="container cover-layout  mt-5 product-cover">
    <!-- <h1>Worker Types</h1> -->
    <div class="worker-types">
      <!-- Cashier Card -->
      <a href="/admin/products/forms?form=add">
      <div class="worker-card" >
        <h2>Add product</h2>
        <p>View all products</p>
    </div>
    </a>
      
      <!-- Stock Clerk Card -->
      <a href="/admin/products/forms?form=edit">
      <div class="worker-card" >
            <h2>Edit product</h2>
            <p>View all products</p>
        </div>
    </a>
      
      <!-- Receiving Staff Card -->
      <a href="/admin/products/forms?form=delete"> 
        <div class="worker-card" >
            <h2>delete product</h2>
            <p>View Deleted products</p>
        </div>
     </a>
      
      <!-- Cleaner Card -->
      <a href="/admin/products/forms?form=category">
        <div class="worker-card" >
            <h2>Add Category</h2>
            <p>View all Category</p>
        </div>
      </a>
    </div>
  </div>
<script src="/js/product.js" ></script>