

<div class="container cover-layout  mt-5 product-cover">
    <!-- <h1>Worker Types</h1> -->
    <div class="worker-types">
      <!-- Cashier Card -->
      <a href="/admin/products/type?type=food and beverages">
      <div class="worker-card" >
        <h2>Food and Beverages</h2>
        <p>View all divisions</p>
    </div>
    </a>
      
      <!-- Stock Clerk Card -->
      <a href="/admin/products/type?type=health and beauty">
      <div class="worker-card" >
            <h2>Health and Beauty</h2>
            <p>View all divisions</p>
        </div>
    </a>
      
      <!-- Receiving Staff Card -->
      <a href="/admin/products/type?type=household items"> 
        <div class="worker-card" >
            <h2>Household Items</h2>
            <p>View all divisions</p>
        </div>
     </a>
      
      <!-- Cleaner Card -->
      <a href="/admin/products/type?type=electronics and miscellaneous">
        <div class="worker-card" >
            <h2>Electronics and Miscellaneous</h2>
            <p>View all divisions</p>
        </div>
      </a>
    </div>
  </div>
<script src="/js/product.js" ></script>