<div class="container cover-layout workers mt-5">
  <!-- <h1>Worker Types</h1> -->
  <div class="worker-types">
    <!-- Cashier Card -->
    <a href="/admin/workers/type?type=cashier">
      <div class="worker-card">
        <h2>Cashiers</h2>
        <p>View all cashiers</p>
      </div>
    </a>
    <!-- Stock Clerk Card -->
    <a href="/admin/workers/type?type=clerks">
      <div class="worker-card">
        <h2>Stock Clerks</h2>
        <p>View all stock clerks</p>
      </div>
    </a>
    <!-- Receiving Staff Card -->
    <a href="/admin/workers/type?type=staff">
      <div class="worker-card">
        <h2>Receiving Staff</h2>
        <p>View all receiving staff</p>
      </div>
    </a>
    <!-- Cleaner Card -->
    <a href="/admin/workers/type?type=cleaners">
      <div class="worker-card">
        <h2>Cleaners</h2>
        <p>View all cleaners</p>
      </div>
    </a>
  </div>
</div>
