<div class="container cover-layout workers mt-5 ">
    <!-- <h1>Worker Types</h1> -->
    <div class="worker-types">
      <!-- Cashier Card -->
      <div class="worker-card" onclick="navigateToType('cashier')">
        <h2>Cashiers</h2>
        <p>View all cashiers</p>
      </div>
      
      <!-- Stock Clerk Card -->
      <div class="worker-card" onclick="navigateToType('stock_clerk')">
        <h2>Stock Clerks</h2>
        <p>View all stock clerks</p>
      </div>
      
      <!-- Receiving Staff Card -->
      <div class="worker-card" onclick="navigateToType('receiving_staff')">
        <h2>Receiving Staff</h2>
        <p>View all receiving staff</p>
      </div>
      
      <!-- Cleaner Card -->
      <div class="worker-card" onclick="navigateToType('cleaner')">
        <h2>Cleaners</h2>
        <p>View all cleaners</p>
      </div>
    </div>
  </div>