<% if(locals.warningMessage!="" ) {%>
    <div class="alert alert-warning bg-warning  alert-dismissible fade show"  role="alert">
      <strong>Warning</strong>  <%= warningMessage %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
    <% } %>