<form action="/admin/login" method="post" class="mt-5">

<label for="admin-id">Enter you Id</label>
<input type="text" name="Admin_id" id="" required>
<label for="admin-password">Enter your password</label>
<input type="password" name="Admin_password" id="" required>
<input type="submit" value="Submit" name="" id="">
</form>