<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="icon" href="/image/loaderVedio/icon.svg" sizes="60x60" type="image/svg+xml">

  <title>Login Page</title>
</head>
<body style="background-color: white !important;">
  <section class="login-page">
    
    <img src="/image/logo.png" alt="Logo" class="logo">

    <h1 class="small-screen-title">TasawaQ</h1>

    <div class="login-container">
      <div class="heading">Sign In</div>
      <form class="login-form" action="/login" method="POST">
        <input placeholder="Enter Your Id" id="id" name="id" type="id" class="input" required="" />
        <input placeholder="Password" id="password" name="password" type="password" class="input" required="" />
        <span class="forgot-password"><a href="#">Forgot Password?</a></span>
        <input value="Sign In" type="submit" class="login-button" />
      </form>
    </div>
  </section>

</body>
</html>

    